<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Title</title>
</head>
<body>
    {% if error %}
        <h1>{{error}}</h1>
    {% elif user.is_authenticated %}
        <h1> Вы уже авторизованы как {{user.username}}</h1>
    {% else %}
        <h1> Авторизоваться через Telegram </h1>
        <a href="https://t.me/{{bot_name}}?start=start" target="_blank">
                <button style="font-size: 16px; padding: 10px 20px;">Перейти в Telegram</button>
        </a>
    {% endif %}
</body>
</html>